[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
social-auth-app-django = "*"
gunicorn = "*"
sorl-thumbnail = "*"
django = "*"
django-heroku = "*"
psycopg2-binary = "*"
boto3 = "*"
django-storages = "*"
redis = "*"
django-redis-cache = "*"

[dev-packages]

[requires]
python_version = "3.8"
